In [4]:
import pandas as pd

# load the thales stock price csv
thales = pd.read_csv('thales_stock_prices.csv')
thales.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2001-01-02  52.450001  53.700001  50.500000  51.700001  29.636600  123327.0
1  2001-01-03  51.200001  54.000000  51.099998  53.200001  30.496454  165369.0
2  2001-01-04  54.700001  54.750000  51.700001  53.400002  30.611107  387466.0
3  2001-01-05  53.099998  55.000000  49.759998  51.000000  29.235334  600703.0
4  2001-01-08  50.000000  50.750000  49.560001  50.000000  28.662081  217065.0

In [8]:
thalesna = thales.dropna()

TypeError: 'method' object is not subscriptable

In [9]:
thalesna.isnull().value_counts()
thalesna.to_csv("nonullThales.csv", index=False)